{% if site.valine.enable %}
<div id="disqus_thread"></div>
<script src="//cdn.jsdelivr.net/npm/leancloud-storage/dist/av-min.js"></script>
<script src="https://www.knightboy.cn/assets/js/valine.js"></script>
<script type="text/javascript">
  var GUEST = ['nick','mail','link'];
  var guest = '{{site.valine.guest_info}}';
  guest = guest.split(',').filter(function(item){
    return GUEST.indexOf(item)>-1;
  });
  new Valine({
    el: '#disqus_thread',
    appId: '{{ site.valine.appid }}',
    appKey: '{{ site.valine.appkey }}',
    placeholder: '{{site.valine.placeholder}}',
    avatar: '{{site.valine.avatar}}',
    meta: guest,
    pageSize: '{{site.valine.pageSize}}' || 10,
    visitor: {{site.valine.visitor}}
  });
</script>
{% endif %}
